<div>
  <h1> Angular and Boostrap ngDialog based pop ups</h1>
  <p> Hello, I'm Sebastian Gomez, this project is just a set of Pop ups based on angular and ngDialog and bootstrap predefined colors and styles, too this project is a clean starter for your angularJS 1.x.x projects, feel free to modify, edit or improve this collection of pop ups.
  </p>
<div class="botonera-principal">
<button class="btn btn-success" ng-click="successDialog()">Success Dialog</button>
<button class="btn btn-danger" ng-click="errorDialog()">Error Dialog</button>
<button class="btn btn-info" ng-click="loadingDialog()">Loading Dialog</button>
<button class="btn btn-warning" ng-click="infoDialog()">Info Dialog</button>
</div>

<p> If you like it, just leave me a comment, and enjoy.</p>
<p><a href="http://sebastian-gomez.com">Sebastian Gomez - www.sebastian-gomez.com</a></p>

<script type="text/ng-template" id="successDialog.html">
  <div class="dialog-container success">
    <div class="dialog-top top-success"><i class="material-icons md-48 md-light">done</i><div>
    <div class="content">
      <h1>Congratulations</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="botonera">
      <a href="" ng-click="closeThisDialog()">Continue</a>
    </div>
  </div>
</script>
<script type="text/ng-template" id="errorDialog.html">
  <div class="dialog-container error">
    <div class="dialog-top top-error"><i class="material-icons md-48 md-light">warning</i><div>
    <div class="content">
      <h1>We've got a litte problem</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="botonera">
      <a href="" ng-click="closeThisDialog()">Ok</a>
    </div>
  </div>
</script>
<script type="text/ng-template" id="loadingDialog.html">
  <div class="dialog-container loading">
    <div class="dialog-top top-loading"><img width="48px" height="48px" src="images/loading2.GIF"/><div>
    <div class="content">
      <h1>Loading</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</script>
<script type="text/ng-template" id="infoDialog.html">
  <div class="dialog-container info">
    <div class="dialog-top top-info"><i class="material-icons md-48 md-light">info</i><div>
    <div class="content">
      <h1>Information</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="botonera">
      <a href="" ng-click="closeThisDialog()">Continue</a>
    </div>
  </div>
</script>

</div>
